@import '~antd/dist/antd.css';

body {
  position: relative;
  color: black;
  height: 100vh;

  font-family: sans-serif;
  overflow-y: hidden;
  margin: 0;
}

#app {
  display: flex;
  flex: 1;
  overflow: hidden;
  max-height: 100%;
}
