html, body {
  height: 100%;
  margin: 0;
}


#app {
  height: 100%;
  min-height: 100%;
}


.window-container {
  display: grid!important;
  grid: repeat(2, 50%) / repeat(3, 33%);
}

.window-item {
  width: 320;
  height: 240px;
}

.video-item {
  width: 100%;
  height: 100%;
  background: #CCCCCC;
  overflow: hidden;
}

