ELECTRON_MIRROR=http://ftp.loongnix.cn/os/loongnix/1.0/electron/releases/mips/
electron_mirror=http://ftp.loongnix.cn/os/loongnix/1.0/electron/releases/mips/
sass_binary_site=https://npm.taobao.org/mirrors/node-sass/