*.pcm
coverage
*.log
sdk/lib/mac
tmp
build/
dist/
node_modules/
.DS_Store
error-log.txt
.vscode
peer.log
peer.pid
nohup.out
.version-cache
js/
docs/
types/
example/agoraAddonlog.txt
example/agoraapi.log.pid
example/agorartc.log.pid
sdk/
.history