.screen {
  display: flex;
  flex: 1;
  flex-direction: row;
  overflow: hidden;
  height: 100%;

  .card {
    height: 340px;
  }

  .content {
    min-height: 100%;
    overflow: auto;
    display: flex;
    flex: 4;
    flex-direction: column;
    padding: 0 16px;
    background-color: rgb(238, 240, 243);
  }

  .rightBar {
    min-height: 100%;
    overflow: auto;
    display: flex;
    flex: 2;
    flex-direction: column;
    padding: 16px 16px 0 16px;
    background-color: white;
  }

  .rightBarBig {
    @extend .rightBar;
    width: 50%;
  }

  .selectedItem {
    margin-top: 16px;

    .require {
      color: red;
    }
  }
}
