.toolBarContent {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.msgList {
  overflow: auto;
  // width: 200px;
  height: 200px;
  border: 1px darkblue solid;
  padding: 4px;
}

.msg {
  word-wrap: break-word;
  word-break: break-all;
}
