.window-item {
  flex: 1;
  height: 240px;
}

.video-item {
  flex: 1;
  height: 240px;
  overflow: hidden;
}

.window-item-performance {
  flex: 1;
}

.video-item-performance {
  flex: 1;
  overflow: hidden;
}
