pre {
  border: 1px solid #d1d1d1;
  line-height: 190%;
  margin: 0 0 1.75em;
  max-width: 100%;
  overflow: auto;
  padding: 15px;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
